<div class="title">{{loginRegister}}</div>
<div class="sub-title">{{enterYourEmailToContinue}}</div>
<form action="javascript:void(0);" class="{{formStyle}}">
    <div>
        {{#hasSocialLogin }}
        <input type="submit" style="
                background: none;
                border: none;
                font-weight: 900;
                cursor: pointer;
                position: absolute;
            " disabled="" value="OK" />
        {{/hasSocialLogin }}
        <input class="input-text" id="email" name="email" placeholder="{{yourEmail}}" type="email" />
        <label for="email">{{yourEmail}}</label>
    </div>
    {{#hasSocialLogin }}
    <div>
        <div class="or-social-login">Or</div>
        <input type="button" /><i class="fa fa-facebook"></i>Login with Facebook
        <input type="button" /><i class="fa fa fa-google-plus"></i>Login with
        Google
    </div>
    {{/hasSocialLogin }} {{^hasSocialLogin }}
    <div>
        <button class="btn btn-primary" disabled="">
            {{validate}} &nbsp;<i class="fa fa-spinner fa-spin off"></i>
        </button>
    </div>
    {{/hasSocialLogin }}
</form>