#login-popup {
    .no-calendar,
    .date-text {
        .input-text {
            display: none;
        }
        label {
            position: unset;
            transform: unset !important;
        }
    }

    .calendar {
        .dropdown-date {
            display: none;
        }
    }

    .dropdown-date {
        column-gap: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        > input {
            border: var(--input-line);
            color: #333;
            font-size: 1em;
            outline: none;
            padding-bottom: 0;
            padding: var(--input-padding);
            width: 100%;
        }
        > input::placeholder {
            color: #777 !important;
        }
    }

    .dropdown-date select {
        flex: 1;
        padding: var(--input-padding);
        padding-bottom: 0;
        font-size: 1.1em;
        border: 0;
        outline: none;
    }

    .dropdown-date select:nth-child(odd) {
        flex: 0.5;
    }
}
