body.remove-scrolling {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#login-popup {
    > div {
        text-align: center;
        z-index: 99;
        position: absolute;
        animation: var(--animation) 1.5s;
    }

    .content {
        align-items: center;
        background-color: var(--content-bg-color, #fff);
        border-radius: var(--container-border-radius);
        color: var(--primary-text-color);
        justify-content: var(--content-vertical-alignment);
        max-height: 100vh;
        min-height: 28%;
        overflow-y: auto;
        width: var(--content-width, auto);
        padding-top: var(--content-padding-top, auto);
        padding-bottom: var(--content-padding-bottom, auto);
        position: relative;
    }

    .content .partials {
        max-height: 0;
        overflow: hidden;
        width: var(--partial-width);
    }
    .content .partials.partials-show {
        max-height: 900px;
        transition: max-height .8s;
    }

    /*  ===================
    Components
    =================== */

    // Header Image
    .header-img {
        content: var(--header-img);
        max-width: var(--img-max-width, 200px);
    }

    // Title
    .title {
        font-family: var(--title-font-family);
        font-size: var(--large-font-size);
        font-weight: var(--title-font-weight);
        letter-spacing: var(--large-letter-spacing);
        line-height: 50px;
        text-transform: var(--large-text-transform);
        color: var(--primary-text-color);
    }

    // Sub-title
    .sub-title {
        font-size: var(--medium-text-size);
        font-weight: var(--medium-font-weight);
        color: var(--secondary-text-color, #02100a);
    }

    // Buttons
    // I need to refactor it
    .btn {
        border: none;
        color: var(--btn-color);
        border: var(--btn-border);
        cursor: pointer;
        padding: 10px;
        text-transform: none;
        width: 100%;
        margin-top: 15px;
        font-family: var(--btn-font-family);
        font-size: var(--btn-font-size);
    }
    .btn .fa {
        font-size: 1.4em;
    }

    .btn .fa.off {
        display: none;
    }

    .btn.btn-primary,
    .btn.btn-primary:focus {
        background-color: var(--btn-bg-color);
    }
    .btn.btn-primary:hover {
        background-color: var(--btn-bg-color);
    }

    .btn:disabled,
    .btn[disabled] {
        // background-color: var(--btn-disabled-bg-color);
        opacity: 0.7;
        cursor: not-allowed;
    }

    .btn-small {
        width: 40%;
        margin: 20px auto;
    }

    .btn-close {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 1.5em;
        color: var(--ternary-text-color, #0d3c32);
    }

    .btn-close .fa {
        -webkit-text-stroke: 5px white;
        font-size: 1.8em;
    }

    // 4.1 checkbox
    .checkbox {
        margin-right: 10px;
        min-width: unset;
    }

    .checkbox-container {
        align-items: center;
        display: flex;
        margin-top: 14px;
    }

    // 4.1 input fields
    .mandatory-container {
        margin-top: 10px;
    }

    /*  ===================
    Partials
    =================== */

    .or-social-login {
        margin: 15px 0;
    }

    .fa-eye {
        cursor: pointer;
        position: absolute;
        right: 5px;
        padding: var(--input-padding);
    }

    .fa-eye-slash {
        cursor: pointer;
        position: absolute;
        right: 5px;
        padding: var(--input-padding);
    }

    .action {
        color: var(--ternary-text-color, #0d3c32);
        margin-top: 15px;
        cursor: pointer;
    }
}
